# Core
numpy
pandas
scipy
scikit-learn

# Parquet support
pyarrow
fastparquet

# Visualization / notebooks
matplotlib
seaborn
jupyter
jupyterlab
ipykernel
ipywidgets
tqdm

# Models
flaml
libomp
lightgbm
catboost
xgboost

# Optimization
optuna
optuna-integration

# Deep learning
torch
torchvision
torchaudio

# Utils
joblib
pyyaml
python-dotenv